USE [master]
GO
CREATE DATABASE [Polyclinic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Polyclinic', FILENAME = N'D:\SQL\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\Polyclinic.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Polyclinic_log', FILENAME = N'D:\SQL\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\Polyclinic_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Polyclinic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Polyclinic]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 19.05.2025 0:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Last_Name] [varchar](50) NOT NULL,
	[First_Name] [varchar](50) NOT NULL,
	[Patronymic] [varchar](50) NULL,
	[Specialization_Id] [int] NOT NULL,
 CONSTRAINT [PK_Doctors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medical_Cards]    Script Date: 19.05.2025 0:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medical_Cards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number_Med_Card] [int] NULL,
	[Number_Med_District] [int] NULL,
	[Last_Name] [varchar](50) NOT NULL,
	[First_Name] [varchar](50) NOT NULL,
	[Patronymic] [varchar](50) NULL,
	[Date_Birth] [date] NOT NULL,
	[Gender] [varchar](50) NOT NULL,
	[Street] [varchar](50) NOT NULL,
	[House] [int] NOT NULL,
	[Entrance] [int] NULL,
	[Flat] [int] NOT NULL,
	[Home_Phone_Number] [varchar](50) NULL,
	[Mobile_Phone] [varchar](50) NOT NULL,
	[Place_Work] [varchar](max) NULL,
	[Work_Address] [varchar](max) NULL,
	[Position] [varchar](50) NULL,
	[Work_Phone] [varchar](max) NULL,
	[Note] [varchar](max) NULL,
	[Shelving_Id] [int] NULL,
	[Users_Id] [int] NULL,
 CONSTRAINT [PK_Medical_Card] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Procedures_Schedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[NumRoom] [int] NOT NULL,
	[Monday] [varchar](50) NULL,
	[Tuesday] [varchar](50) NULL,
	[Wednesday] [varchar](50) NULL,
	[Thursday] [varchar](50) NULL,
	[Friday] [varchar](50) NULL,
 CONSTRAINT [PK_Procedures_Schedule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameRole] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specializations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name_Specialization] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Specializations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number_Ticket] [int] NOT NULL,
	[Doctor_Id] [int] NOT NULL,
	[Cabinet_Number] [int] NOT NULL,
	[Date_Time_Admission] [datetime] NOT NULL,
	[Med_Card_Id] [int] NOT NULL,
 CONSTRAINT [PK_Tickets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Role_Id] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Work_Schedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number_Med_District] [int] NULL,
	[Doctor_Id] [int] NOT NULL,
	[Monday] [varchar](50) NULL,
	[Tuesday] [varchar](50) NULL,
	[Wednesday] [varchar](50) NULL,
	[Thursday] [varchar](50) NULL,
	[Friday] [varchar](50) NULL,
	[Room_Number] [int] NULL,
 CONSTRAINT [PK_Work_Schedule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Specializations] FOREIGN KEY([Specialization_Id])
REFERENCES [dbo].[Specializations] ([Id])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_Doctors_Specializations]
GO
ALTER TABLE [dbo].[Medical_Cards]  WITH CHECK ADD  CONSTRAINT [FK_Medical_Cards_Users] FOREIGN KEY([Users_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Medical_Cards] CHECK CONSTRAINT [FK_Medical_Cards_Users]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Doctors] FOREIGN KEY([Doctor_Id])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Doctors]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Medical_Cards] FOREIGN KEY([Med_Card_Id])
REFERENCES [dbo].[Medical_Cards] ([Id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Medical_Cards]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([Role_Id])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Work_Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Work_Schedule_Doctors] FOREIGN KEY([Doctor_Id])
REFERENCES [dbo].[Doctors] ([Id])
GO
ALTER TABLE [dbo].[Work_Schedule] CHECK CONSTRAINT [FK_Work_Schedule_Doctors]
GO
USE [master]
GO
